.git
.github
.venv
**/__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
node_modules
**/node_modules
dist
backend/frontend/dist
*.egg-info
.DS_Store
.env
data/raw
data/processed
notebooks/.ipynb_checkpoints
po-adk-python/.venv
